fastapi
uvicorn
supabase
python-dotenv
pydantic
argon2-cffi
python-jose[cryptography]
python-multipart
langchain
langchain-community
langchain-ollama
langchain-chroma
pypdf
tiktoken
numpy
pytest
httpx
email-validator